:root {
    --green: #1cbb9b;
    --greenHover: #097a64;
    --color: #C5C5C5
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
}

/* Inicio de Fornecedores*/
.containerFornecedor{
    padding: 10px;
    display: flex;
    height: 100vh;
    width: 100vw;
}


.containerFornecedor header{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.containerFornecedor header button{
    height: 40px;
    width: 200px;
}


.containerFornecedor header button{
    background: var(--green);
    border: none;
    color: black;
    border-radius: 10px;
}

.containerFornecedor header button:hover{
    background: var(--greenHover);
    border: none;
    color: white;
}

.containerFornecedor .Fornecedor table{
    margin-top: 20px;
}

.containerFornecedor .Fornecedor table th {
    padding: 10px;
    background-color: var(--green);
}

.containerFornecedor .Fornecedor table tr td {
    text-align: center;
    padding: 10px;
}

#tdNome{
    border-radius: 10px 0 0 0;
  }

#tdOpcoes{
  border-radius: 0 10px 0 0;
}

.containerFornecedor .Fornecedor table tr:hover td {
    background-color: #EEE;
}

a{
    text-decoration: none;
    padding: 5px;
}
a:hover{
    background: var(--greenHover);
    border-radius: 10px;
    color: white
}

.containerMenu{
  border: 1px solid var(--greenHover);
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.ContainerFornecedor{
  margin-left: 10px;
  height: 100%;
  width: 100%;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
  background: var(--green);
  border-radius: 10px;
}

.ContainerFornecedor{
  border: 1px solid var(--greenHover);
  padding: 10px;
  border-radius: 5px;
}
/* Fim de Fornecedores */