html, body{
    margin: 0;
    padding: 0;
}

.box-left{
    background-color:#1CBB9B;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
   font-size: 15px;
   margin-top: 5%;
   
}

.box-img{
    width: 100%;
}

.imagem{
   left: 50%;
}