/* ////////////////////////////////////////////////////geral \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
  }
  
  input, label {
    display: block;
    outline: none;
    width: 100%;
  }
  
  body {
    padding-top: 15px;
    background-color:#1cbb9b;
  }
  
  /* //////////////////////////////////////// formulario \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
  #container-principal {
    width: 400pt;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10pt;
    padding: 25px;
  }
  
  #container-principal h1 {
    text-align: center;
    margin-bottom: 20pt;
    font-size: 20pt;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .linha-completa {
    flex: 1 1 100%;
    height:70px;
  position: relative;
  }
  
  .meia-linha {
    flex: 1 1 45%;
    height:70px;
    position: relative;
  }
  
  .espaçamento {
    margin-right: 2.5%;
  }
  
  label {
    font-weight: bold;
    font-size: 12pt;
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  input:focus {
    border-color: #1cbb9b;
  }
  
  input[type="submit"] {
    background-color: #1cbb9b;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
  }
  #logo{
    width: 32%;
    height: 40%;
    margin-left: 160px;
}
:root {
    --green: #1cbb9b;
    --greenHover: #097a64;
    --color: #C5C5C5
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#containerbackground{
    width: 100vw;
    height: 100vh;
    background: var(--green);

}

.container{
    background: #bb1c1c;
    width: 500px;
    height: 550px;
    justify-content: center;
    text-align: center;
}

#logo{
    margin-top: 15px;
    width: 40%;
    height: 50%;
}

/* inicio tela de login */
.containerLogin{
    width: 100vw;
    height: 100vh;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerLogin form{
    padding: 30px;
    background: rgba(255, 255, 255, 0.595);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    border-radius: 5px;
    -webkit-box-shadow: 12px 13px 12px -9px rgba(28,187,155,0.38);
    -moz-box-shadow: 12px 13px 12px -9px rgba(28,187,155,0.38);
    box-shadow: 12px 13px 12px -9px rgba(28,187,155,0.38);
}

.containerLogin img{
    width: 30%;
    padding: 10px;
}

.containerLogin h3{
    margin-bottom: 20px;
    color: var(--green);
}

.containerLogin input{
    margin: 10px ;
    width: 100%;
    height: 40px;
    
}
.containerLogin input[type=submit]{
    margin-bottom: 20px;
    background: var(--green);
    border: none;
    color: black;
}
.containerLogin input[type=submit]:hover{
    margin-bottom: 20px;
    background: var(--greenHover);
    border: none;
    color: white;
}
.containerLogin footer{
    bottom: 0;
    position: fixed;
    height: 30px;
    color: var(--color) ;
}

.containerLogin footer h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

/* fim de login */
